@charset "UTF-8";
/* Змінні */
:root {
  /* colors */
  --footer-color: #2f303a;
  --accent: #2196f3;
  --h-color: #212121;
  --p-color: #757575;
  --bgd-color: #ffffff;
  --filter-color: #f5f4fa;
  --background-hero: #c4c4c4;
  --client-color: #afb1b8;
  --font-main: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;
  --margin-card: 30px;
  --gap: 30px;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Обнуляю стилі */
/* html {
  box-sizing: border-box;
}

* ,
*::after,
*::before{
  box-sizing: inherit;
} */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  /* Normalize */
  /* font-family: inherit; */
  line-height: inherit;
  cursor: pointer;
}

textarea {
  resize: none;
}

/* Задаю стандартні значення  */
body {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--bgd-color);
  color: var(--h-color);
  /* Normalize
  margin: 0; */
  padding: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--h-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

/* LOGO */
.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo > span {
  color: var(--accent);
}

/* footer logo */
.footer a.logo {
  display: inline-block;
  color: var(--bgd-color);
  margin-bottom: 20px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent);
  color: var(--bgd-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 24px;
  transition: background-color var(--transition-dur-and-func);
}
@media screen and (min-width: 1200px) {
  .btn {
    padding: 10px 32px;
  }
}
.btn:hover {
  background-color: #188ce8;
}

/* ===================== /HERO ==================== */
.emailing__btn {
  padding: 10px 28px;
  height: 50px;
  display: flex;
  align-items: center;
}

/* ================================================== */
.modal-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 52px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent);
  color: var(--bgd-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color var(--transition-dur-and-func);
}
.btn:hover {
  background-color: #188ce8;
}

/* ===================== /HERO ==================== */
.emailing__btn {
  padding: 10px 28px;
  height: 50px;
  display: flex;
  align-items: center;
}

/* ================================================== */
.modal-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 52px;
}

.burger-menu__btn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--h-color);
  transition: color 250ms var(--time-func);
}
.burger-menu__btn:hover, .burger-menu__btn:focus {
  color: var(--accent);
}

.burger-menu__icon {
  fill: currentColor;
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bgd-color);
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .modal-menu__container {
    width: 480px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 15px;
  }
}

.modal-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: 0;
  background-color: transparent;
  line-height: 0;
  color: var(--h-color);
  transition: color 250ms var(--time-func);
}
.modal-menu__btn-close:hover, .modal-menu__btn-close:focus {
  color: var(--accent);
}

.modal-menu__btn-close-img {
  fill: currentColor;
}

.modal-menu__item-page:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu__page-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--h-color);
  transition: color 250ms var(--time-func);
}
.modal-menu__page-link:hover, .modal-menu__page-link:focus {
  color: var(--accent);
}

.modal-menu__page-link--current-page {
  color: var(--accent);
}

.modal-menu__contact-list {
  margin-top: auto;
}

.modal-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent);
  transition: color 250ms var(--time-func);
}
.modal-menu__tel-link:hover, .modal-menu__tel-link:focus {
  color: var(--accent);
}

.modal-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--p-color);
  transition: color 250ms var(--time-func);
}
.modal-menu__mail-link:hover, .modal-menu__mail-link:focus {
  color: var(--accent);
}

.modal-menu__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
}

.modal-menu__social-item:not(:last-child)::after {
  content: "";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.modal-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
  transition: color 250ms var(--time-func);
}
.modal-menu__social-link:hover, .modal-menu__social-link:focus {
  color: var(--accent);
}

.is-open {
  opacity: 1;
}

.footer__contacts {
  width: 232px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.address__item {
  display: block;
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.address__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address__map-link {
  font-style: normal;
  color: var(--bgd-color);
}

.address__footer-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--time-func);
}
.address__footer-link:hover, .address__footer-link:focus {
  color: var(--accent);
}

/* ================ JOIN ================= */
.join__title {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--bgd-color);
}

.join__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join__social-item {
  width: 44px;
  height: 44px;
}

.join__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--bgd-color);
  transition: background 250ms var(--time-func);
}
.join__social-link:hover, .join__social-link:focus {
  background-color: var(--accent);
}

.join__social-icon {
  fill: currentColor;
}

/* ================ /JOIN ================= */
/* ================ Emailing ================= */
.emailing-form {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .emailing-form {
    margin-right: 0;
  }
}

.emailing-form__title {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--bgd-color);
}

.emailing-form__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .emailing-form__input-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .emailing-form__input-container {
    flex-direction: row;
  }
}

.emailing-form__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--bgd-color);
  padding: 15px 16px;
  margin-bottom: 20px;
}
.emailing-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 480px) {
  .emailing-form__input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .emailing-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.emailing-icon {
  display: inline-block;
  margin-left: 10px;
}

/* ================ Emailing ================= */
/* ======================== FILTER =============*/
.filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--filter-color);
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  padding: 6px 22px;
  transition: background-color 250ms var(--time-func), color 250ms var(--time-func), box-shadow 250ms var(--time-func);
}
.filter-btn:hover, .filter-btn:focus, .filter-btn.active {
  background: var(--accent);
  color: var(--bgd-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  padding: 40px;
  background-color: var(--bgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--time-func), opacity 250ms var(--time-func);
}
.modal-backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.1);
}
@media screen and (max-width: 479px) {
  .modal-window {
    width: calc(100% - var(--gap));
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border var(--transition-dur-and-func);
}

.modal-close-btn-svg {
  display: block;
  fill: #000000;
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-btn-svg, .modal-close-btn:focus .modal-close-btn-svg {
  fill: var(--accent);
}

/* ================= FORM ========================= */
.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 12px;
}

.modal-items-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--p-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  transition: border var(--transition-dur-and-func);
}
.modal-input:focus {
  outline: none;
  border: 1px solid var(--accent);
}
.modal-items-container:hover .modal-input {
  border: 1px solid var(--accent);
}

.modal-input-wrapper {
  position: relative;
}

.user-name-icon,
.user-tel-icon,
.user-mail-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-input:focus + .user-name-icon, .modal-input:focus + .user-name-icon, .modal-input:focus + .user-name-icon,
.modal-input:focus + .user-tel-icon,
.modal-input:focus + .user-tel-icon,
.modal-input:focus + .user-tel-icon,
.modal-input:focus + .user-mail-icon,
.modal-input:focus + .user-mail-icon,
.modal-input:focus + .user-mail-icon {
  fill: var(--accent);
}
.modal-items-container:hover .user-name-icon, .modal-items-container:hover .user-name-icon, .modal-items-container:hover .user-name-icon,
.modal-items-container:hover .user-tel-icon,
.modal-items-container:hover .user-tel-icon,
.modal-items-container:hover .user-tel-icon,
.modal-items-container:hover .user-mail-icon,
.modal-items-container:hover .user-mail-icon,
.modal-items-container:hover .user-mail-icon {
  fill: var(--accent);
}

/* ================================================= */
.comment-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  transition: border var(--transition-dur-and-func);
}
.comment-area:focus {
  outline: none;
  border: 1px solid var(--accent);
}
.modal-items-container:hover .comment-area {
  border: 1px solid var(--accent);
}
.comment-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-container {
  margin-bottom: 20px;
}

/* ============================================= */
.policy-label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 12px;
  margin-bottom: 30px;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-text {
  letter-spacing: 0.03em;
  color: var(--p-color);
  font-size: 12px;
  line-height: 1.67;
}
@media screen and (min-width: 1200px) {
  .policy-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-text-accent {
  text-decoration-line: underline;
  color: var(--accent);
}

.policy-checkbox-svg {
  display: block;
  border: 2px solid var(--h-color);
  border-radius: 2px;
  background-color: transparent;
  transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.policy-checkbox:checked + .policy-checkbox-svg {
  background-color: var(--accent);
  border: 2px solid transparent;
}
.policy-checkbox:focus + .policy-checkbox-svg {
  border: 2px solid var(--accent);
}
.policy-label:hover .policy-checkbox-svg {
  border: 2px solid var(--accent);
}

.policy-checkbox-svg-icon {
  display: block;
  fill: var(--bgd-color);
  opacity: 0;
  transition: opacity var(--transition-dur-and-func);
}
.policy-checkbox:checked + .policy-checkbox-svg .policy-checkbox-svg-icon {
  opacity: 1;
}

/* ..........Custom checkbox with Pseudo .............. */
/* .policy-text::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--h-color);
  border-radius: 2px;
  background-color: transparent;
  background-image: url('../images/svg/modal-check-icon.svg');
  background-origin: border-box;

  transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);

}
.policy-checkbox:checked ~ .policy-text::before {
  background-color: var(--accent);
  border: 2px solid transparent;
}

.policy-label:hover .policy-text::before,
.policy-checkbox:focus+.policy-text::before {
  border: 2px solid var(--accent);
} */
/* ..........Custom checkbox with Pseudo .............. */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation-site {
    display: flex;
    align-items: center;
    gap: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-site {
    gap: 92px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    gap: 50px;
  }
}

.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
  transition: color 250ms var(--time-func);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent);
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
  }
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-color);
  transition: color 250ms var(--time-func);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent);
}

.contact__mail-link {
  display: flex;
  align-items: center;
}

.contact__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contact__tel-link {
  display: flex;
  align-items: center;
}

.contact__icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.nav__link--current {
  position: relative;
  color: var(--accent);
}
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -34px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

/* ============= HEADER ================ */
/* NAVIGATION */
.hero {
  background-color: var(--background-hero);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgrounds/mobile-bgd.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-size: cover, 1600px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767.5px), screen and (min-resolution: 192dpi) and (max-width: 767.5px), screen and (min-resolution: 2dppx) and (max-width: 767.5px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgrounds/mobile-bgd@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgrounds/tablet-bgd.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgrounds/tablet-bgd@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgrounds/desktop-bgd-hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgrounds/desktop-bgd-hero@2x.jpg");
  }
}

.hero__container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bgd-color);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: var(--gap);
}
@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - var(--gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 3 * var(--gap)) / 4);
  }
}

.advantages__icons-thumb {
  background-color: var(--filter-color);
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantages__titles {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantages__titles {
    text-align: start;
  }
}

.advantages__desc {
  letter-spacing: 0.03em;
}

.advantages p {
  color: var(--p-color);
}

.work {
  padding-top: 47px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 2 * var(--gap)) / 3);
}

.work__desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--bgd-color);
}

.team {
  background-color: var(--filter-color);
}

@media screen and (min-width: 768px) {
  .teammate-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.teammate {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .teammate {
    flex-basis: calc((100% - var(--gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .teammate {
    flex-basis: calc((100% - 3 * var(--gap)) / 4);
  }
}
.teammate:not(:last-child) {
  margin-bottom: var(--gap);
}
@media screen and (min-width: 768px) {
  .teammate:not(:last-child) {
    margin-bottom: 0;
  }
}

.teammate__bio {
  padding: 30px 0;
  text-align: center;
}

.teammate__image-thumb {
  overflow: hidden;
}

.teammate__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.teammate__profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-bottom: 16px;
}

.teammate__social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.teammate__social-item {
  /* flex-basis: calc((100% - 3*10px)/4); */
  width: 44px;
  height: 44px;
}

.teammate__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--time-func);
}
.teammate__social-link:hover, .teammate__social-link:focus {
  background-color: var(--accent);
}

.icon-teammate__social-link {
  fill: var(--client-color);
  transition: fill 250ms var(--time-func);
}
.teammate__social-link:hover .icon-teammate__social-link, .teammate__social-link:focus .icon-teammate__social-link {
  fill: var(--bgd-color);
}

.clients {
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.clients__item {
  width: 100%;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc((100% - var(--gap)) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 2 * var(--gap)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 5 * var(--gap)) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px solid var(--client-color);
  border-radius: 4px;
  color: var(--client-color);
  transition: color 250ms var(--time-func), border 250ms var(--time-func);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid var(--accent);
}

.clients__icon {
  fill: currentColor;
}

/* ============ /CLIENTS ================ */
/* =================== FOOTER ================= */
.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    gap: 0;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
}

.project-item {
  background: var(--bgd-color);
}
.project-item:not(:last-child) {
  margin-bottom: var(--gap);
}
@media screen and (min-width: 768px) {
  .project-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .project-item {
    flex-basis: calc((100% - var(--gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    flex-basis: calc((100% - var(--gap) * 2) / 3);
  }
}

.project-item > a {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--time-func);
}
.project-item > .project-item > a:hover, .project-item > .project-item > a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image-thumb {
  position: relative;
  overflow: hidden;
}

.project__img {
  width: 100%;
}

.project-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--bgd-color);
  transform: translate(0, 101%);
  transition: transform 250ms var(--time-func);
}
.project-item > a:hover .project-img-overlay, .project-item > a:focus .project-img-overlay {
  transform: translate(0px, 0px);
}

.project-content {
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-color);
  margin-bottom: 4px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--p-color);
}

/* ================== PROJECTS =================*/
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms var(--time-func), visibility 250ms var(--time-func);
}

.modal-backdrop.is-hidden {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */