.hero {
  background-color: var(--background-hero);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/backgrounds/mobile-bgd.jpg");

  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;

    background-size: cover, 1600px;
  }

  // =======media for background ========
  // mobile
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767.5px),
    screen and (min-resolution: 192dpi) and (max-width: 767.5px),
    screen and (min-resolution: 2dppx) and (max-width: 767.5px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/mobile-bgd@2x.jpg");
  }

  // tablet

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/tablet-bgd.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/tablet-bgd@2x.jpg");
  }

  // desktop
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/desktop-bgd-hero.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgrounds/desktop-bgd-hero@2x.jpg");
  }

  // =======media for background ========
}

.hero__container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bgd-color);

  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;

    max-width: 696px;
  }
}
